<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/estilo.css">
    <title>Document</title>
</head>
<body>
    <h1><%= data.mensaje %></h1>
    <a href="./products">Ir a lista de productos</a>
    <a href="./products/new">Ir a creador de productos</a>
</body>
</html>