<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/estilo.css">
    <title>Document</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <div>
        <%
            products.forEach(producto =>{
                %>
                <div>
                    <h2><%= producto.nombre %></h2>
                    <h3>Precio: <%= producto.precio %></h3>
                    <button>Comprar</button>
                </div>
                <%
            })
        %>
    </div>
</body>
</html>