<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Lista de productos</h1>
    {{ backgroundColor}}
    <div class="productsContainer" >
        {{#each products}}
            <div  class="card">
                <h2>{{nombre}}</h2>
                <a href="/products/detail?productId={{id}}&nombre=pepe">Ver detalle</a>
                
            </div>
        {{/each}}
        
    </div>
    <a class="btn-new-product" href="/product/new">Cargar producto</a>
</body>
</html>